// Import page-specific CSS files here.
@import "home";

h2 {
  text-align: center;
}

.content-campers {
  width: 1100px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.cards-introduction {
  text-align: center;
}

.row {
  justify-content: space-evenly;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(15, 15, 15, 0.2);
  margin: 0.4em;
  border-radius: 10px;
}

.card-title a {
  color: #e57d23;
}

a {
  color: white;
}

a:hover {
  color: black;
}
