// Import page-specific CSS files here.
@import "home";

.content-campers {
  width: 1100px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.banner-show {
  background-image: asset-url('van-picture.jpg');
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.8);
}

.text-banner-show {
  display: flex;
  align-items: center;
  height: 50vh;
}

.card-image {
  width: 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(15, 15, 15, 0.5);
  transition: 0.3s;
  margin: 0.4em;

}

.card:hover {
  transform: scale(1.03);
}
.cards-introduction {
  text-align: center;
}

.row {
  justify-content: space-evenly;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(15, 15, 15, 0.2);
  margin: 0.4em;
  border-radius: 10px;
}

.card-title a {
  color: #e57d23;
}

a {
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: normal;
}

a:hover {
  color: white;
  transform: scale(1.03);
}

.page-header {
  padding-left:  30px;
}

p {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: normal;
}
