.image-show {
  width: 50%;
  border-radius: 40px;
}

.image-show img {
  width: 100%;
  border-radius: 40px;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 rgba(15, 15, 15, 0.2);
}

.back-list {
  margin: 0 auto;
  padding-bottom: 20px;
}

.back-list a {
  color: black;
}

.card-information {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0;
}

.box-information-camper {
  width: 50%;
  padding-right: 50px;
}
