<div class="content-campers mt-5" style="height: 65vh;">
  <div class=" mt-4 mb-4">
    <%= link_to "⬅️ back to #{@camper.name} available", booking_path(@booking), class: "text-dark" %>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-10">
    <div class="p-5" style="background-color:#e57d23; border-radius:20px; box-shadow: 0 4px 8px 0 rgba(15, 15, 15, 0.2); margin-top:30px;">
      <div class="mb-4">
        <h2 class="text-light">Here is your booking:</h2>
      </div>
      <h5 class="text-light">Number of days booked: <%= (@booking.end_date - @booking.start_date).to_i %></h5>
      <h5 class="text-light">Price per day: <%= @camper.price %> € </h5>
      <div class="border-top pt-3">
        <h4 class="text-light">Total price of your booking is <%= @camper.price * (@booking.end_date - @booking.start_date).to_i %>€</h4>
      </div>
    </div>
  </div>
</div>
