<div class="m-0 p-0">
  <div class="back opacity-img">
      <div class="box">
        <div class="text-banner">
          <div class="banner-content">
            <h1 class="banner">Trip around<br> the world</h1>
            <h3 class="h2-banner mt-5">Discover the best solution to have new adventures.</h3>
            <div class="button-banner mt-5">
              <a class="m-4 p-3" href="/campers">Discover more</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
