<p>
  <strong>Name:</strong>
  <%= @camper.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @camper.description %>
</p>

<ul class="reviews">
  <% @camper.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
 </ul>

<p><%= link_to "<< Go Back to All Campers", campers_path %></p>
