nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem 2rem,;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

nav li {
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none !important;
}

nav a:hover {
  color: #e57d23;
}

.logo-image {
  width: 120px;
  height: 60px;
}

.item {
  flex-grow: 4;
}

.nav-item {
  list-style: none;
}

.nav-link {
  padding: 0;
  padding: 10px 35px 10px 35px;
}
